<h3><%= t :everbatt_reports, scope: [:spree, :batt_report] %></h3>

<select id="report">
<% @reports.each do |key, value| %>

  <% full_path = (request.fullpath == "/admin/reports/#{key}") ? 'selected="selected" ' : '' %>
  <% value = send("#{key}_admin_reports_url".to_sym) %>

  <option <%= full_path %> value="<%= value %>">
    <% value_name = value.is_a?(Hash) ? value[:name].downcase.gsub(" ","_") : value.split('/').last.to_s.downcase.gsub(" ","_") rescue nil %>
    <%= t("spree."+value_name) rescue nil %>
  </option>
<% end %>
</select>

<div id="advanced_report_search">
  <%= form_for :search do |s| %>
    <div class="row">
      <% if @stores -%>
        Store: <br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'All' } ) %><br />
        <br>
      <% end -%>

      <% if @taxons %>
        <div class="col-md-2">
          <div class="field">
            <%= t :taxons, scope: [:spree, :batt_report] %>: <br />
            <%= collection_select(:advanced_reporting, :taxon_id, @taxons, :id, :name, { :include_blank => 'All' } ) %>
          </div>
        </div>
      <% end -%>

      <% if @products %>
        <div class="col-md-2">
          <div class="field">
            <%= t :products, scope: [:spree, :batt_report] %>:<br />
            <%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' } ) %><br />
          </div>
        </div>
      <% end %>

      <% if @customers %>
        <div class="col-md-2">
          <div class="field">
            <%= t :customer, scope: [:spree, :batt_report] %>: <br />
            <%= collection_select(:advanced_reporting, :customer_email, @customers, :first, :last, { :include_blank => 'All' } ) %>
          </div>
        </div>
      <% end -%>

      <div class="col-md-2">
        <div class="field">
          <%= t :sku, scope: [:spree, :batt_report] %>:<br />
          <%= text_field(:advanced_reporting, :sku, placeholder: 'Sku') %><br />
        </div>
      </div>

      <div class="col-md-3 field">
        <%= Spree.t(:date_range, scope: :batt_report) %>:<br/>
        <div class="date-range-filter">
          <%= s.text_field :created_at_gt , :class => 'datepicker', :placeholder => Spree.t(:from) %>

          <span class="range-divider">
            <i class="fa fa-arrow-right"></i>
          </span>

          <%= s.text_field :created_at_lt ,  :class => 'datepicker', :placeholder => Spree.t(:to) %>
        </div>
      </div>

      <div class="col-md-3 field">
        <% if params[:advanced_reporting] -%>
          <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' -%>
          <input type="hidden" id="product_id" value="<%= params[:advanced_reporting][:product_id] %>"  class="full-width" />
          <% end -%>
          <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' -%>
          <input type="hidden" id="the_taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" class="full-width" />
          <% end -%>
          <% if params[:advanced_reporting][:customer_email] && params[:advanced_reporting][:customer_email] != '' -%>
          <input type="hidden" id="the_customer_email_id" value="<%= params[:advanced_reporting][:customer_email] %>" class="full-width" />
          <% end -%>
        <% end -%>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="actions filter-actions">
      <%= button t(:update, scope: [:spree, :batt_report]) %>
    </div>
  <% end -%>
</div>

<% content_for :head do -%>
  <script type="text/javascript">
    var created_at_lt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:created_at_lt]) ? @report.unfiltered_params[:created_at_lt] : '' %>";
    var created_at_gt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:created_at_gt]) ? @report.unfiltered_params[:created_at_gt] : '' %>";
  </script>
<% end -%>
