<% if @report.ruportdata.any? %>
  <% ['PDF', 'CSV'].each do |report_format| %>
    <%= link_to report_format, url_for(action: 'sales_total',
      controller: 'spree/admin/reports', params: {format: report_format.downcase}),
      class: "button" %>
  <% end %>
<% end %>
