<% admin_breadcrumb(link_to Spree.t(:reports), spree.admin_reports_path) %>
<% admin_breadcrumb(Spree.t(:top_reports, scope: :batt_report)) %>

<% content_for :page_actions do %>
  <% if @report.ruportdata.any? %>
    <%- report_class_name = @report.class.name.demodulize.underscore.pluralize %>
    <% ['PDF', 'CSV'].each do |report_format| %>
      <%= link_to report_format, url_for(action: report_class_name,
        controller: 'spree/admin/reports', params: {format: report_format.downcase}),
        class: "button" %>
    <% end %>
  <% end %>
<% end %>


<% content_for :table_filter_title do %>
  <%= Spree.t(:report_filters, scope: :batt_report) %>
<% end %>

<%= raw @report.ruportdata.to_html %>

<% content_for :table_filter do %>
  <div class="report_details">
    <h1><%= @report.name.titleize %></h1>
    <%= @report.taxon_text if @report.taxon_text.present? %><br/>
    <%= @report.product_text if @report.product_text.present? %>
    <%= @report.sku_text if @report.sku_text.present? %><br/>
  </div><br/>

  <%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>
<% end %>
